/* CSS reset */
a img{border:0;}
a img:hover{border:0;}
body
	{
		overflow:scroll;
        overflow-x:hidden;
		overflow-y: hidden;
		margin:0;
	}
#box{
	height: 650px;
	width: 1000px;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#bj{
	position:absolute;
	z-index:-999;
	margin:0 auto;
	width:900px;
	height:620px;
}
#a1{
	position:absolute;
	left:73px;
	top:530px;
	font-family:"幼圆";
	color:#3B3B3B;
	font-weight:bold;
	font-size:18px;
}


